<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/scripts/test.js"></script>
    </head>
    <body>
        // Heading Admin Access underlined and center aligned
        <h1 class="admin-access">Admin Access</h1>

        
      
       <h2>Enter surge Fee</h2>
        
        <input type="number" id="surgeFee" placeholder="Surge Fee">
        
        <button id="submit">Submit</button>

    </body>
</html>