/* (A) ENTIRE PAGE */
#cart-wrap * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
#cart-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
#cart-products, #cart-items { padding: 10px; }
#cart-products { flex-grow: 1; }
#cart-items { width: 180px; }
input.cart, button.cart {
  padding: 10px;
  border: 0;
  background: #ff4316;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}
.p-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
.p-img { max-width: 150px; }
.p-name, .p-price { font-weight: 700; }
.p-name, .p-desc, .p-price { margin: 5px 0; }
.p-name {
  font-size: 1.35em;
  text-transform: uppercase;
}
.p-desc {
  color: #7c7979;
  font-size: 0.9em;
}
.p-price { color: #e13d16; }
.p-add { width: 100%; }

/* (C) CURRENT SHOPPING CART */
#cart-items {
  background: #31394d;
  color: #fff;
  border-radius: 5px;
}
.c-item {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.c-name, .c-total {
  font-size: 1.05em;
  font-weight: 700;
}
.c-name, .c-total, button.c-empty, button.c-checkout { width: 100%; }
.c-total, button.c-empty, button.c-checkout { margin-top: 10px; }
.c-del { width: 25%; }
.c-qty { width: 75%; }
.c-empty, .c-checkout { width: 100%; }

/* (D) RESPONSIVE */
@media screen and (max-width: 640px) {
  #cart-products {
    grid-template-columns: 100%;
  }
}
