
.card{
    background-color: #FDF68E;
    border-width: 2px;
    border-color: #CC9967;
    width: 45%;
    max-height: 1000rem;
}

.close{
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem;
    background-color: #CC9967;
    border-width: 1.5px;

}

.active-order-card{
    padding-left: 15rem;
}

.close-button{
    display: flex;
    justify-content: end;
}

.check-box{
    padding-right: 3rem;
}

.form-control{
    width:55%;
    height: 25%;
}

.tip-box{
    padding-left: 10rem;
    display: inline;
    justify-content: end;
}

.form-control{
    background-color: #FDF68E;
}

.small-nav-bar{
    display: flex;
    justify-content: flex-end;
}
