<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome To The Managers Dashboard

    <form action="/manager/viewMenu/R_02" method="GET">
        <button type="Submit"> View Menu</button>
    </form>

    <form action="/manager/viewCoupons/R_01" method="GET">
        <button type="Submit"> View Coupons</button>
    </form>

    <form action="/manager/allOrders" method="GET">
        <button type="Submit"> View Orders</button>
    </form>

    <form action="/manager/logout" method="POST">
        <button type="Submit"> Log Out</button>
    </form>

    <form action="/manager/orders/confirm" method="GET">
        <button type="Submit"> Change Orders status</button>
    </form>

    


</body>
</html>