body{
    margin: 0;
    padding: 0;
    background-color: #FEF9A8;
}

.red-banner{    
    padding: 60px;
    background: #850506;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.padding-only{
    padding: 15px;
}
.padding-only-2{
    padding: 28px;
}

input[type = text],select{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #850506;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }