.small-nav-bar{
    display: flex;
    justify-content: flex-end;
}
.usr-img{
    width: 20%;
    height: 20%;
    
}

.user-image{
    display: flex;
    justify-content: center;
}

.timings-holder{
    display: flex;
    justify-content: center;
}

.contact-admin{
    display: flex;
    justify-content: center;
}