<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Admin Dashboard</title>
</head>
<body style="background-color: #fef9a8;">
    <div class="giant">
        <!-- Food Xpress Banner -->
        <div class="p-5 xl-4 bg-danger text-white" >FoodXpress </div>


        <br><br>

        <h3 class="display-6 pl-2">USER DASHBOARD</h3>
        <hr style="background-color:#CC9966"></hr>
        <div class="dashboard-body d-flex justify-content-center">
            <div class = 'user-image justify-content-center'>
                <img src="../images/blank-profile-picture-973460__480.jpeg" alt="..." class="rounded w-75 mx-auto d-box">
            </div>
            <form>
                
                <div class="pt-3"></div>
                <!-- <label for="AdminName" class="form-label">Admin Name</label> -->
                <input type="Name" class="form-control form-control-lg" id="AdminName" aria-describedby="NameHelp" placeholder="Admin Name">
                <div class="pt-4"></div>
                <label for="SurgeFee" class="form-label">Surge Fee</label>
                <input type="text" class="form-control form-control-lg" id="SurgeFee" aria-describedby="">
                <div class="pt-4"></div>
                <label for="TaxPercentage" class="form-label">Tax Percentage</label>
                <input type="text" class="form-control form-control-lg" id="TaxPercentage" aria-describedby="">
                <div class="pt-4"></div>
                <label for="TodaysEarnings" class="form-label">Today's Earnings</label>
                <input type="text" class="form-control form-control-lg" id="TodaysEarnings" aria-describedby="">
                <div class="pt-4"></div>
                <label for="ThisMonthsEarnings" class="form-label">This Month's Earnings</label>
                <input type="text" class="form-control form-control-lg" id="ThisMonthsEarnings" aria-describedby="">
                <div class="pt-4"></div>
                <label for="TotalEarnings" class="form-label">Total Earnings</label>
                <input type="text" class="form-control form-control-lg" id="TotalEarnings" aria-describedby="">
                <div class="pt-4"></div>
               
            </form>
            
    
        </div>
        <div class="button d-flex justify-content-center">
            <button type="button" class="btn btn-danger btn-lg">Update Details</button>
        </div>
        <div class="pt-4"></div>
        <div class="pt-4"></div>



    </div>
</body>
</html>